body {
  background-image: linear-gradient(135deg, #c3e0f0 10%, #6e9ba9 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  color: #333333;
  width: 100%;
  text-align: center;
}

button:hover {
  cursor: pointer;
}
.main {
  height: 500px;
  display: grid;
  align-items: center;
}

.box-form {
  margin: 0 auto;
  width: 80%;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 0 0 20px 6px #090b6f85;
}
@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}
.box-form div {
  height: auto;
}
.box-form .left {
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://cdn.pixabay.com/photo/2022/09/16/09/22/fish-7458229_960_720.png');
  overflow: hidden;
}
.box-form .left .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  background: #5961f9ad;
  overflow: hidden;
  box-sizing: border-box;
}
.box-form .left .overlay h1 {
  font-size: 10vmax;
  line-height: 1;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 20px;
}
.box-form .left .overlay span p {
  margin-top: 30px;
  font-weight: 900;
}
.box-form .left .overlay span a {
  background: #3b5998;
  color: #ffffff;
  margin-top: 10px;
  padding: 14px 50px;
  border-radius: 100px;
  display: inline-block;
  box-shadow: 0 3px 6px 1px #042d4657;
}
.box-form .left .overlay span a:last-child {
  background: #1dcaff;
  margin-left: 30px;
}
.box-form .right {
  padding: 40px;
  overflow: hidden;
}
@media (max-width: 980px) {
  .box-form .right {
    width: 100%;
  }
}
.box-form .right h5 {
  font-size: 6vmax;
  line-height: 0;
}
.box-form .right p {
  font-size: 14px;
  color: #b0b3b9;
}
.box-form .right .inputs {
  overflow: hidden;
}
.box-form .right input {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #b0b3b9;
}
.box-form .right .remember-me--forget-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.box-form .right .remember-me--forget-password input {
  margin: 0;
  margin-right: 7px;
  width: auto;
}

.box-form .right button {
  float: right;
  color: #fff;
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px #c3e0f0;
  background-image: linear-gradient(135deg, #6e9ba9 10%, #6e9ba9 100%);
}

.main-forms-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

label {
  display: block;
  position: relative;
  margin-left: 30px;
}

label::before {
  content: ' \f00c';
  position: absolute;
  font-family: FontAwesome;
  background: transparent;
  border: 3px solid #c3e0f0;
  border-radius: 4px;
  color: transparent;
  left: -30px;
  transition: all 0.2s linear;
}

label:hover::before {
  font-family: FontAwesome;
  content: ' \f00c';
  color: #fff;
  cursor: pointer;
  background: #c3e0f0;
}

label:hover::before .text-checkbox {
  background: #c3e0f0;
}

label span.text-checkbox {
  display: inline-block;
  height: auto;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
}

label input[type='checkbox'] {
  display: none;
}

/* navigation bar */

label {
  display: block;
  position: relative;
  margin-left: 30px;
}

label::before {
  content: ' \f00c';
  position: absolute;
  font-family: FontAwesome;
  background: transparent;
  border: 3px solid #c3e0f0;
  border-radius: 4px;
  color: transparent;
  left: -30px;
  transition: all 0.2s linear;
}

label:hover::before {
  font-family: FontAwesome;
  content: ' \f00c';
  color: #fff;
  cursor: pointer;
  background: #c3e0f0;
}

label:hover::before .text-checkbox {
  background: #c3e0f0;
}

label span.text-checkbox {
  display: inline-block;
  height: auto;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
}

label input[type='checkbox'] {
  display: none;
}

/* logout button */
.logout-btn {
  background-color: #4d4dff;
  color: white;
}

/* navigation bar */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: #4d4dff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
}

.site-title {
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
}

.logo-image {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  /* overflow: hidden; */
  /* margin-top: -6px; */
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li.hover {
  background-color: rgb(190, 18, 147);
}

.nav li.active {
  background-color: rgb(240, 13, 195);
}

.post {
  width: 75%;
  padding: 30px;
  margin: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.box-forming {
  margin: 10px 50px 20px 40px;
  width: 30%;
  background: #ffffff;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px 2px #090b6f85;
  padding-bottom: 10px;
  height: auto;
  margin-bottom: 30px;
}
.post-content {
  display: flex;
  flex-direction: column;
  bottom: auto;
  left: 20px;
  width: 100%;
  grid-template-columns: 120px 120px 120px;
  align-items: start;
  justify-content: space-between;
  margin-left: 10px;
}
.post-box {
  width: 90%;
  height: 90%;
  bottom: auto;
  background: #ffffff;
  border-radius: 30px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.post-date {
  font-size: x-small;
  text-overflow: clip;
}
.likes-container {
  display: flex;
  align-items: center;
  gap: 20%;
}
.below-post-text {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-comment {
  margin-top: 1em;
  gap: 1em;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.add-comment-textbox {
  resize: none;
}
.on-mind {
  margin: 40px 50px 20px 40px;
  width: 75%;
}
.user-box {
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 60px;
  margin: 50px 70px 20px 10px;
  width: 5%;
  bottom: auto;
  right: 10px;
  background: #ffffff;
  border-radius: 30px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.user-update {
  font-size: x-small;
  text-overflow: clip;
}
.feed-box {
  grid-column: 1;
  grid-row: 1;
  position: flex;
  margin-left: 10%;
  width: 110%;
  background: #ffffff;
  border-radius: 30px;
  overflow: hidden;
  display: inline-block;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 0 0 10px 1px #090b6f85;
  padding-bottom: 10px;
  height: auto;
  margin-bottom: 30px;
}
.profile-white-box {
  grid-row: 1/5;
  background-repeat: no-repeat;
  width: 450px;
  background: #ffffff;
  border-radius: 30px;
  overflow: hidden;
  display: inline-block;
  flex: 0 0 30%;
  align-items: stretch;
  justify-content: space-between;
  padding-bottom: 10px;
  height: 120%;
  margin-bottom: 5%;
}
.username-box {
  grid-column: 3;
  grid-row: 1/5;
  position: absolute;
  margin-right: 20px;
  margin-left: 25px;
  width: auto;
  border-radius: 10px;
  margin-top: 400px;
}
.profile-picture {
  background-repeat: no-repeat;
  position: absolute;
  grid-column: 3;
  justify-content: space-between;
  color: #000000;
  float: right;
  border-radius: 10px;
  margin-right: 25px;
  margin-left: 25px;
  width: 400px;
  height: 400px;
  background-size: cover;
  background-image: url('https://cdn.pixabay.com/photo/2022/09/16/09/22/fish-7458229_960_720.png');
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr, repeat(3);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.create-post {
  float: right;
  margin-right: 10%;
  background-repeat: no-repeat;
  width: 200px;
  background: #55728e;
  opacity: 0.9;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  flex: 0 0 30%;
  align-items: stretch;
  justify-content: space-between;
  padding-bottom: 10px;
  height: auto;
  margin-bottom: 10px;
  margin-top: 20%;
}
.whole-page {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.posts {
  width: 40%;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
}

.comment {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
  justify-self: center;
  width: 70%;
}

.comment-box {
  border-bottom: 1px solid black;
}

/* animation on homescreen */
.rotate {
  animation: rotation 4s infinite linear;
  margin-top: 10%;
  position: center;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
}
  .likes-container {
    display: flex;
    align-items: center;
    gap: 20%
  }
  .below-post-text {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .add-comment {
    margin-top: 1em;
    gap: 1em;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .add-comment-textbox {
    resize: none;
  }
  .on-mind {
    /* margin: 40px 50px 20px 40px; */
    /* width: 75%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .on-mind h3 {
    justify-self: flex-end;
    margin: 0;
    }

  .on-mind > textarea {
    border-radius: 1em;
    padding: .5em;
    width: 60%;
    height: 20%;
    resize: none;
    font-family: 'Poppins', sans-serif;
    outline: none;
  }
  .user-box {
    background-repeat:no-repeat;
    display: grid;
    grid-template-columns: 1fr 60px;
    margin: 50px 70px 20px 10px;
    width: 5%;
    bottom: auto;
    right: 10px;
    background: #FFFFFF;
    border-radius: 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .user-update {
    font-size: x-small;
    text-overflow: clip;
  }
  .feed-box {
    grid-column: 1;
    grid-row: 1;
    position: flex;
    margin-left: 10%;
    width: 110%;
    background: #FFFFFF;
    border-radius: 30px;
    overflow: hidden;
    display: inline-block;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 10px 1px #090b6f85;
    padding-bottom: 10px;
    height: auto;
    margin-bottom: 30px;
  }
  .profile-white-box {
    grid-column: 0;
    grid-row: 1/5;
    /* margin-left: 45%; */
   
    background-repeat: no-repeat;
    width: 450px;
    background: #FFFFFF;
    border-radius: 30px;
    overflow: hidden;
    display: inline-block;
    flex: 0 0 30%;
    align-items: stretch;
    justify-content: space-between;
    padding-bottom: 10px;
    height: 120%;
    margin-bottom: 5%;
  }
  
  .profile-picture {
    background-repeat: no-repeat;
    position:absolute;
    grid-column: 3;
    justify-content: space-between;
    color: #000000;
    float: right;
    border-radius: 10px;
    margin-right: 25px;
    margin-left: 25px;
    width: 400px;
    height: 400px;
    background-size: cover;
    background-image: url("https://cdn.pixabay.com/photo/2022/09/16/09/22/fish-7458229_960_720.png");
    overflow: hidden;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 1fr, repeat(3);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .create-post-page {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #55728e;
    opacity: 0.9;
    border-radius: 10px;
    align-items: stretch;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .close-post-btn {
    justify-self: flex-end;
    align-self: flex-end;
    margin-top: 1em;
    margin-right: 1em;  
    font-size: 16px;
    padding: 1em;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(135deg, #6e9ba9 10%, #6e9ba9 100%);
  }

  .create-post-popup {
    min-height: 50%;
    width: 40%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }

  .create-post-btn {
    /* color: #fff; */
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    /* box-shadow: 0px 4px 20px 0px #c3e0f0; */
    background-image: linear-gradient(135deg, #6e9ba9 10%, #6e9ba9 100%);
  }

  .whole-page {
    width: 100%;
    display: flex;
    justify-content: space-around;

  to {
    transform: rotate(0deg);
  }
}

/* animation on homescreen */
.rotate {
  animation: rotation 4s infinite linear;
  margin-top: 10%;
  position: center;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.img-fluid {
  height: 50px;
  width: 50px;
}

.likes-button {
  height: 30px;
  width: 30px;
}

.like-button {
  border: none;
}

.comments-toggler {
  height: 30px;
  width: 30px;
}
/* .submit {
    width: 10px;
  } */

.toggle-comment-box {
  border: none;
}

.pond {
  background-image: url('https://i.gifer.com/g32L.gif');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  height: 100%;
  position: center;
}

  .creators a {
    color: white;
  }

  .icons {
    position: fixed;
    top: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr, repeat(5);
    width: 100%;
    height: 100%;
    grid-auto-rows: minmax(100px, 1fr);
    gap: 10px;
    margin-top:20px;
    background: #55738ea4;
    z-index: 999;
  }

  .one-icon {
    grid-column: 4;
    grid-row: 1/4;
    background-image: url('https://img.freepik.com/free-vector/cute-octopus-eating-ramen-noodle-cartoon-vector-icon-illustration-animal-food-icon-concept-isolated_138676-6722.jpg?w=1380&t=st=1674043557~exp=1674044157~hmac=06931f90ad2907f2739b65581fd08eadabf5eeb7e5718708e066cb0edc7e71ad');
    border-radius: 10%;
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left: 20%;
  }

  .two-icon {
    grid-column: 5;
    grid-row: 1/4;
    background-image: url("../../../public/avatars/orange-squid.jpg");
    /* background-image: url('../../avatars/orange-squid.jpg'); */
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left: 20%;
    border-radius: 10%;
  }
  

  .three-icon {
    grid-column: 3;
    grid-row: 1/4;
    background-image: url('../../../public/avatars/chef-fish.jpg');
    border-radius: 10%;
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left: 20%;
  }

  .four-icon {
    grid-column: 2;
    grid-row: 1/4;
    background-image: url('../../../public/avatars/fishng-fish.jpg');
    border-radius: 10%;
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left:25%;
  }

  .five-icon {
    grid-column: 1;
    grid-row: 1/4;
    background-image: url('../../../public/avatars/shrimp.jpg');
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left: 30%;
    border-radius: 10%;
  }

  .six-icon {
    grid-column: 4;
    grid-row: 3/6;
    background-image: url('../../../public/avatars/hench-shark.jpg');
    border-radius: 10%;
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left: 20%;
  }

  .seven-icon {
    grid-column: 5;
    grid-row: 3/6;
    background-image: url('../../../public/avatars/hungry-astronaut.jpg');
    border-radius: 10%;
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left: 20%;
  }

  .eight-icon {
    grid-column: 3;
    grid-row: 3/6;
    background-image: url('../../../public/avatars/magikarp-ramen.jpg');
    border-radius: 10%;
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left: 20%;
  }

  .nine-icon {
    grid-column: 2;
    grid-row: 3/6;
    background-image: url('../../../public/avatars/diver.jpg');
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left:25%;
    border-radius: 10%;
  }

  .ten-icon {
    grid-column: 1;
    grid-row: 3/6;
    background-image: url('../../../public/avatars/cowboy-astronaut.jpg');
    border-radius: 10%;
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left: 30%;
  }
  .el-icon {
    grid-column: 1;
    grid-row: 5/8;
    background-image: url('../../../public/avatars/shark-cowboy.jpg');
    border-radius: 10%;
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left: 30%;
  }

  .twe-icon {
    grid-column: 4;
    grid-row: 5/8;
    background-image: url('../../../public/avatars/axolotl.jpg');
    border-radius: 10%;
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left: 20%;
  }

  .th-icon {
    grid-column: 5;
    grid-row: 5/8;
    background-image: url('../../../public/avatars/non-magikarp-funny-fish.jpg');
    border-radius: 10%;
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left: 20%;
  }

  .fo-icon {
    grid-column: 3;
    grid-row: 5/8;
    background-image: url('../../../public/avatars/fishing-diver.jpg');
    border-radius: 10%;
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left: 20%;
  }

  .fi-icon {
    grid-column: 2;
    grid-row: 5/8;
    background-image: url('../../../public/avatars/penguin.jpg');
    border-radius: 10%;
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left:25%;
  }
  .si-icon {
    grid-column: 1;
    grid-row: 7/10;
    background-image: url('../../../public/avatars/hench-bear.jpg');
    border-radius: 10%;
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left: 30%;
  }

  .se-icon {
    grid-column: 4;
    grid-row: 7/10;
    background-image: url('../../../public/avatars/catfish.jpg');
    border-radius: 10%;
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left: 20%;
  }

  .ei-icon {
    grid-column: 5;
    grid-row: 7/10;
    background-image: url('../../../public/avatars/fishing-penguin.jpg');
    border-radius: 10%;
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left: 20%;
  }

  .ni-icon {
    grid-column: 3;
    grid-row: 7/10;
    background-image: url('https://img.freepik.com/free-vector/cute-octopus-eating-takoyaki-cartoon-vector-icon-illustration-animal-food-icon-concept-isolated-pr_138676-4795.jpg?w=1380&t=st=1674043819~exp=1674044419~hmac=9c3ff370efde3df0e29c9c7abe363ff98f96790ae127897a97f7115bda0859ce');
    border-radius: 10%;
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left: 20%;
  }

  .tw-icon {
    grid-column: 2;
    grid-row: 7/10;
    background-image: url("../../../public/avatars/chef-astronaut.jpg");
    border-radius: 10%;
    background-size: cover;
    height: 45%;
    width:50%;
    margin-left:25%;
  }

  .fish-picture {
    background-repeat: no-repeat;
    position:absolute;
    grid-column: 3;
    justify-content: space-between;
    color: #000000;
    float: right;
    border-radius: 10px;
    margin-right: 25px;
    margin-left: 25px;
    width: 400px;
    height: 400px;
    background-size: cover;
    overflow: hidden;
  }

