.post-container {
    position: relative;
}

.edit-button {
    color: black;
    background-color: whitesmoke;
    border: none;
    border-radius: 2px;
    padding: 8px 12px;
    font-size: 10px;
    cursor: pointer;
}

.edit-button:hover {
    color: white;
    background-color: #2aa9e0;
}